<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8">
	<title>Morse  Trad</title>
  </head>
  <body>
	<img src="{{ url_for('static', filename = 'images/SamuelMorse.png') }}">
	<br>
	<form action="encode" method="post">
	  {% for message in get_flashed_messages() %}
		  <p> {{message}} </p>
	  {% endfor %}
	  <br>
	  <input type="text" name="word_input"
	  <br>
	  <!-- <input type="submit" value="GREET" id="greet"> -->
	  <input type="submit" value="Traducir" id="encode">
	</form>
  </body>
</html>
